<h2 id="about-heading">About</h2>

<p>
  I’ve always had a passion for developing websites. I like the idea of creating
  apps to help businesses increase their reach to their customers.
</p>
<p>
  I like learning new technologies, such as NextJS and Angular, and Prisma with
  PostgreSQL. With these technologies, I have become capable of creating
  solutions for everyday users, as well as business owners who are growing their
  businesses digitally.
</p>
<p>
  I also have experience with graphic design and have used products such as
  Adobe Illustrator, Photoshop, and InDesign.
</p>
