<h1>Developer Name</h1>
<p>Developer description</p>

<h2>Tools & Skills</h2>
<p>skill1</p>
<p>skill2</p>
<p>skill3</p>
<p>skill4</p>

<h2>Experience</h2>
<h3>Developer Role</h3>
<p>Brief project description</p>

<h3>Developer Role</h3>
<p>Brief project description</p>

<h2>Projects</h2>
<h3>Project Title</h3>
<p>Brief project description</p>

<h2>Contact</h2>
<form>
  <label for="email">Email</label>
  <input type="email" name="email" id="email">

  <label for="message">Message</label>
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
</form>
