@import "../../../styles";

.form-container {
  div {
    display: flex;
    flex-direction: column;
  }

  textarea, input {
    all: unset;
    border: 1px solid;
    background: $secondary-color;

    &:focus {
      background: $secondary2-color;
    }
  }
}
