/* You can add global styles to this file, and also import other style files */
@import "normalize.css";

$primary-color: #cdb4db;
$primary2-color: #a2d2ff;
$secondary-color: #ffc8dd;
$secondary2-color: #ffafcc;
$accent-color: #bde0fe;

body {
  max-width: 100%;
  padding: 0 16px;
  background: $primary2-color;
}
